// Note: we use Autoprefixer to add vendor prefixes to our CSS -> https://github.com/postcss/autoprefixer

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $text-color;
	background-color: $bg-color;
}

a {
	color: $link-color;
	text-decoration: none;
}

.page-header {
  padding: 20px;
  color: green;
  text-align: center;
  font-size: 1.2em;
  background: #00cbff;
  margin-bottom: 20px;
  background: #07a566;
  
  a {
    color: #edfff0;
    display: inline-block;
    margin: 0px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  }
  
  .title {
    color: #edfff0;
    text-shadow: 2px 2px 0px #9a52fb;
    font-size: 1.5em;
    border-bottom: none;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-schedule {
	position: relative;
  
  float: left;
  clear: left;

	&::before {
		/* never visible - this is used in js to check the current MQ */ 
		content: 'mobile';
		display: none;
	}

}

.cd-schedule .timeline {
	display: none;

}

.cd-schedule .events {
	position: relative;
	z-index: 1;

	.events-group {
		margin-bottom: 30px;
	}

	.top-info {
		width: 100%;
		padding: 0 5%;

		> span {
			display: inline-block;
			line-height: 1.2;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	.events-group > ul {
		position: relative;
		padding: 0 5%;
		/* force its children to stay on one line */
		display: block;
		overflow-x: visible;
		-webkit-overflow-scrolling: touch;

		&::after {
			/* never visible - used to add a right padding to .events-group > ul */
			display: inline-block;
			content: '-';
			width: 1px;
			height: 100%;
			opacity: 0;
			color: transparent;
		}
	}

	.single-event {
		/* force them to stay on one line */
		flex-shrink: 0;

		float: left;
		min-height: 120px;
		width: 100%;
    //    max-width: 300px;
    border: 1px solid rgba(0,0,0,0.4);
		margin-right: 20px;
		transition: opacity .2s, background .2s;
    margin-bottom: 5px;
    background: white;

		&:last-of-type {
			margin-right: 5%;
		}
		
		.event-clickable {
			display: block;
      cursor: pointer;
			height: 100%;
			padding: .8em;
		}
    
    .event-ticket {
    	display: block;
    	color: white;
      float:right;
      width: 100px;
      text-align: center;
      padding: 8px 10px;
      border: 1px solid white;
      margin-right: 10px;
      
    	@include font-smoothing;
      
    }
    
	}


}

.cd-schedule.loading .events .single-event {
	/* the class .loading is added by default to the .cd-schedule element
	   it is removed as soon as the single events are placed in the schedule plan (using javascript) */
	opacity: 0;
}

.cd-schedule .event-name,
.cd-schedule .event-date,
.cd-schedule .event-venue,
.cd-schedule .event-subline {
	display: block;
	@include font-smoothing;
}

.cd-schedule .event-subline {
  font-size: 0.8em;
  font-style: italic;
}

.cd-schedule .event-data {
  display: none;
}

//modal
.event-info {
  font-size: 1.25em;
  padding: 20px 55px;
  word-break: break-word;
  
  p { 
    margin-bottom: 20px;
  }
  
  title {
    font-variant: italic;
    font-weight: bold;
    display: block;
  }
  
  a {
    margin-top: 10px;
    text-decoration: underline;
    color: #07a566;
  }
  
}

.cd-schedule .event-name .event-time {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 12px;
  opacity: 0.7;
}

.cd-schedule .event-name {
	font-size: 2.4rem;
  clear: both;
  margin-top: 1.25em;
  
	@include MQ(M) {
		font-size: 2rem;
	}
}

.cd-schedule .event-date,
.cd-schedule .event-venue {
	/* they are not included in the the HTML but added using JavScript */
	font-size: 1.7rem;
//  opacity: .7;
	line-height: 1.2;
	margin-bottom: .2em;
  float: left;
}

.cd-schedule .event-venue {
  margin-left: 10px;
}

.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg
 {
	/* this is used to set a background color for the event and the modal window */
	color: $event-color-1;
}

.cd-schedule [data-event="event-1"] .event-ticket {
  background-color: $event-color-1;
}

.cd-schedule .single-event[data-event="event-1"]:hover {
	color: lighten($event-color-1, 5%);
}

.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
	color: $event-color-2;
}

.cd-schedule [data-event="event-2"] .event-ticket {
  background-color: $event-color-2;
}


.cd-schedule .single-event[data-event="event-2"]:hover {
	color: lighten($event-color-2, 5%);
}

.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
	color: $event-color-3;
}

.cd-schedule [data-event="event-3"] .event-ticket {
  background-color: $event-color-3;
}

.cd-schedule .single-event[data-event="event-3"]:hover {
	color: lighten($event-color-3, 5%);
}

.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
	color: $event-color-4;
}

.cd-schedule [data-event="event-4"] .event-ticket {
  background-color: $event-color-4;
}

.cd-schedule .single-event[data-event="event-4"]:hover {
	color: lighten($event-color-4, 5%);
}

.cd-schedule .single-event[data-event="event-party"],
.cd-schedule [data-event="event-party"] .header-bg {
	color: $event-color-party;
}

.cd-schedule [data-event="event-party"] .event-ticket {
  background-color: $event-color-party;
}

.cd-schedule .single-event[data-event="event-party"]:hover {
	color: lighten($event-color-party, 5%);
}

.cd-schedule .single-event[data-event="event-fair"],
.cd-schedule [data-event="event-fair"] .header-bg {
	color: $event-color-fair;
}

.cd-schedule [data-event="event-fair"] .event-ticket {
  background-color: $event-color-fair;
}

.cd-schedule .single-event[data-event="event-fair"]:hover {
	color: lighten($event-color-fair, 5%);
}

.event-modal {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	/* Force Hardware acceleration */
  transform: translateZ(0);
  transform: translateX(100%);
  
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  
  transition: transform .4s, visibility .4s;
  transition-timing-function: cubic-bezier(.5,0,.1,1);
  
  .event-modal-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    
  	.header {
  		position: relative;
  		height: 70px;
  		/* vertically center its content */
  		display: table;
  		width: 100%;

  		.content {
  			position: relative;
  			z-index: 3;
  			/* vertically center inside its parent */
  			display: table-cell;
  			vertical-align: middle;
  			padding: .6em 5%;
        
        .event-ticket {
        	display: block;
          float: left;
        	color: white;
          
          padding: 8px 10px;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid white;
          margin-right: 10px;
          
        	@include font-smoothing;
          
        }
        
        .event-date, .event-venue {
        	display: block;
        	color: white;
        	@include font-smoothing;
        }
  		}
  	}

  	.body {
  		position: relative;
  		width: 100%;
      min-height: 100%;
  		/* 70px is the .header height */
//      height: calc(100% - 70px);
    
  	}
    
  }


	.event-info {
		position: relative;
		z-index: 2;
		line-height: 1.4;
//    height: 100%;
//    overflow: hidden;
    background: white;
    overflow: visible;

		> div {
			overflow: auto;
			height: 100%;
			padding: 1.4em 5%;
		}
	}

	.header-bg, .body-bg {
		/* these are the morphing backgrounds - visible on desktop only */
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.body-bg {
		z-index: 1;
		background: $bg-color;
		transform-origin: top left;
	}

	.header-bg {
		z-index: 2;
		transform-origin: top center;
	}

	.close {
		/* this is the 'X' icon */
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		background: rgba(#000, .1);
		/* replace text with icon */
		color: transparent;
		white-space: nowrap;
		text-indent: 100%;
		height: 70px;
		width: 70px;

		&::before, &::after {
			/* these are the two lines of the 'X' icon */
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 2px;
			height: 22px;
			background: $bg-color;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		&::before {
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
		}

		&::after {
			transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		}
	}


	&.no-transition {
		transition: none;

		.header-bg, .body-bg {
			transition: none;
		}
	}

//  @include MQ(M) {
//    /* reset style */
//    right: auto;
//    width: auto;
//    height: auto;
//    transform: translateX(0);
//    will-change: transform, width, height;
//    transition: height .4s, width .4s, transform .4s, visibility .4s;
//    transition-timing-function: cubic-bezier(.5,0,.1,1);
//
//    .header {
//      position: absolute;
//      display: block;
//      top: 0;
//      left: 0;
//      height: 100%;
//
//      .content {
//        /* reset style */
//        display: block;
//        padding: .8em;
//      }
//    }
//
//    .event-info > div {
//      padding: 2em 3em 2em 2em;
//    }
//
//    .body {
//      height: 100%;
//      width: auto;
//    }
//
//    .header-bg, .body-bg {
//      /* Force Hardware acceleration */
//      transform: translateZ(0);
//      will-change: transform;
//      backface-visibility: hidden;
//    }
//
//    .header-bg {
//      transition: transform .4s;
//      transition-timing-function: cubic-bezier(.5,0,.1,1);
//    }
//
//    .body-bg {
//      opacity: 0;
//      transform: none;
//    }
//
//    .event-date {
//      display: block;
//    }
//
//    .close, .event-info {
//      opacity: 0;
//    }
//
//    .close {
//      width: 40px;
//      height: 40px;
//      background: transparent;
//
//      &::after, &::before {
//        background: $text-color;
//        height: 16px;
//      }
//    }
//  }
//
//  @include MQ(L) {
//    .header .content {
//      padding: 1.2em;
//    }
//  }
}

body.modal-is-open {
  overflow: hidden;
  
  .event-modal {
  	/* .modal-is-open class is added as soon as an event is selected */
  	transform: translateX(0);
  	visibility: visible;
    background: white;

  	.event-info > div {
  		/* smooth scroll on iOS touch devices */
  		-webkit-overflow-scrolling: touch;
  	}
  }
}


@include MQ(M) {
	.cd-schedule.animation-completed  .event-modal .close,
	.cd-schedule.content-loaded.animation-completed  .event-modal .event-info {
		/* 	the .animation-completed class is added when the modal animation is completed
			the .content-loaded class is added when the modal content has been loaded (using ajax) */
		opacity: 1;
		transition: opacity .2s;
	}

	.cd-schedule.modal-is-open .body-bg {
		opacity: 1;
		transition: transform .4s;
		transition-timing-function: cubic-bezier(.5,0,.1,1);
	}
}

.cd-schedule .cover-layer {
	/* layer between the content and the modal window */
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(#000, .8);
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s, visibility .4s;
}

.cd-schedule.modal-is-open .cover-layer {
	opacity: 1;
	visibility: visible;
}