// colors

$event-color-1: #2b91c1; 
$event-color-2: #443453; 
$event-color-3: #40ab36; 
$event-color-4: #e272b8; 
$event-color-party: #0D6200;
$event-color-fair: #2b91c1;


$event-color-1: #a875e2; 
$event-color-2: #0D6200; 
$event-color-3: #159E00; 
$event-color-4: #0D6200; 


$event-color-1: #a875e2; 
$event-color-2: #0D6200; 
$event-color-3: #2b91c1; 
$event-color-4: #443453;

$event-color-1: #5B10BF; 
$event-color-2: #5B10BF; 
$event-color-3: #5B10BF; 
$event-color-4: #5B10BF;

$event-color-1: #4b2979; 
$event-color-2: #443453; 
$event-color-3: #4b2979; 
$event-color-4: #4b2979;

$event-color-1: #9a52fb; 
$event-color-2: #be63d2; 
$event-color-party: #03ad7a;
$event-color-fair: #2b91c1;




//#264c25


$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: #07a566;
$link-color: $event-color-3;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 4;
$row-height: 70px;